@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\000035}}
.inline-form-editing-mode {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 14px;
  display: grid;
  min-width: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\000039}}
.course-content .editing-mode-menu li.section {
  list-style: none;
  margin-bottom: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000310}}
.course-content .editing-mode-menu li.section[data-section-level="2"] {
  padding-left: 3.3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000311}}
.course-content .editing-mode-menu li.section[data-section-level="3"] {
  padding-left: 6.3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000315}}
.tt-contract {
  width: 80%;
  margin: auto;
  /*.tt-contract-content{
      white-space: pre-wrap;
      text-align: justify;
      border: solid;
      padding: 16px;
      border: 1px solid #efefef;
  }*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000327}}
.treetopics {
  display: grid;
  margin: -1rem;
    /*.menuM3{
        position: relative; 
        z-index: 1020;       

        .menu-level{
            width: 100%; list-style: none; margin: auto; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; padding: 0;
            .menu-item{
                padding: .3rem; margin: .1rem;  min-width: 120px; align-self: center; display: flex; justify-content: center; align-items: center; border-right: 1px solid white; 
                .menu-item-desc{padding: .3rem;    font-size: 16px;      font-weight: 600;    
                    white-space: nowrap;    -webkit-hyphens: none;    -ms-hyphens: none;    hyphens: none; white-space: normal;
                    i.fas.fa-plus{display: none;}
                    i.fas.fa-minus{display: none;}
                }
            }

            .menu-item[data-selected="1"]{
                .arrow{display: block;}
            }  
            
            .arrow{
                border-width: 10px; border-style: solid; border-color: transparent; width: 0; height: 0; margin: 0px; display: none; 
                border-left-color: #666; border-right-width: 0px;
            }
        }

        .menu-level1{
            @extend .menu-level;
            .menu-item:first-child{ display: none;} 
            //.menu-item:last-child{ border-right: none;} 
            .menu-item{
                flex-grow: 1;
                margin: 0;
                border-bottom: 1px solid white;
                .menu-item-desc{
                    color: #666;
                    .fa.fa-map{margin-right: 0.5rem; align-self: center;}
                }
            }
            //Hover
            .menu-item:hover{
                background-color: #DCDCDC;
                padding-top: 6px;
                border-bottom: none;
                .menu-item-desc{color: #666;}
                .menu-level2{
                    display: flex;
                    .arrow{display: none;}
                    .menu-item{background-color: transparent;}
                }
            }
            .menu-item[data-selected="1"]{
                .menu-item-desc{color: #666;}
                .arrow{display: block;  border-left-color: #666; }
            } 
        }

        .menu-level2{
            @extend .menu-level; 
            position: absolute;
            padding-left: 50px;
            top: 44px;
            left: 0px;
            display: none;
            border-bottom: 3px solid #ecc369;
            background-color: #DCDCDC;
            background-image: linear-gradient( #DCDCDC, #F8F8F8);
            z-index: 1010;
            .menu-item:first-child{ display: block;} 
            .menu-item{
                border-right: none;
                margin-top: 1.5rem;
                align-self: end;
                display: block;
                border-bottom: none;
                .menu-item-desc{
                    font-weight: 400;  
                    color: rgb(0, 0, 0) !important;
                    border-bottom: 1px solid #d8d7d7; 
                    padding-bottom: 0;
                    padding-right: 7rem;
                }
                .menu-level3{
                    list-style: none;
                    .text_to_html{
                        width: 10rem;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        .autolink{
                            color: black;
                        }
                    }
                }
            }
        }
    }*/
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000330}}
  .treetopics.horizontal {
    grid-template-columns: auto;
    grid-template-rows: auto auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000335}}
    .treetopics.horizontal .menuM5 ul.navbar-nav {
      flex-wrap: wrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000337}}
      .treetopics.horizontal .menuM5 ul.navbar-nav li.nav-item {
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000339}}
      .treetopics.horizontal .menuM5 ul.navbar-nav ul.dropdown-menu {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000343}}
        .treetopics.horizontal .menuM5 ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
          margin-left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000348}}
      .treetopics.horizontal .menuM5 ul.navbar-nav li.nav-item[data-selected="1"] {
        font-weight: bold;
        text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000353}}
  .treetopics.vertical, .treetopics.vertical-right, .treetopics.vertical-left {
    grid-template-rows: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000356}}
    .treetopics.vertical .navbar, .treetopics.vertical-right .navbar, .treetopics.vertical-left .navbar {
      align-items: baseline;
      align-content: baseline; }
    @media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000360}}
      .treetopics.vertical .navbar-expand-lg .navbar-nav, .treetopics.vertical-right .navbar-expand-lg .navbar-nav, .treetopics.vertical-left .navbar-expand-lg .navbar-nav {
        flex-direction: column; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000362}}
        .treetopics.vertical .navbar-expand-lg .navbar-nav .dropdown-menu, .treetopics.vertical-right .navbar-expand-lg .navbar-nav .dropdown-menu, .treetopics.vertical-left .navbar-expand-lg .navbar-nav .dropdown-menu {
          position: relative; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000371}}
    .treetopics.vertical .menuM5 .dropdown-submenu > .dropdown-menu, .treetopics.vertical-right .menuM5 .dropdown-submenu > .dropdown-menu, .treetopics.vertical-left .menuM5 .dropdown-submenu > .dropdown-menu {
      left: 0;
      top: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000376}}
    .treetopics.vertical .menuM5 ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu, .treetopics.vertical-right .menuM5 ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu, .treetopics.vertical-left .menuM5 ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
      margin-left: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000379}}
    .treetopics.vertical .menuM5 ul.navbar-nav ul.dropdown-menu li .dropdown-item, .treetopics.vertical-right .menuM5 ul.navbar-nav ul.dropdown-menu li .dropdown-item, .treetopics.vertical-left .menuM5 ul.navbar-nav ul.dropdown-menu li .dropdown-item {
      height: auto;
      white-space: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000382}}
    .treetopics.vertical .menuM5 ul.navbar-nav li.nav-item[data-selected="1"], .treetopics.vertical-right .menuM5 ul.navbar-nav li.nav-item[data-selected="1"], .treetopics.vertical-left .menuM5 ul.navbar-nav li.nav-item[data-selected="1"] {
      font-weight: bold;
      font-size: large;
      text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000387}}
  .treetopics.vertical-right {
    grid-template-columns: 80% 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000393}}
  .treetopics.vertical-left {
    grid-template-columns: 20% 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003100}}
  .treetopics .menuM1 {
    position: relative;
    margin-bottom: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003103}}
    .treetopics .menuM1 .background-menu-mobile {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003105}}
    .treetopics .menuM1 .btn-menu-responsive {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003107}}
    .treetopics .menuM1 .menu-level, .treetopics .menuM1 .menu-level1, .treetopics .menuM1 .menu-level2 {
      width: 100%;
      list-style: none;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 0;
      height: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003110}}
      .treetopics .menuM1 .menu-level .menu-item, .treetopics .menuM1 .menu-level1 .menu-item, .treetopics .menuM1 .menu-level2 .menu-item {
        padding: .5rem;
        margin: .1rem;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003112}}
        .treetopics .menuM1 .menu-level .menu-item .menu-item-title, .treetopics .menuM1 .menu-level1 .menu-item .menu-item-title, .treetopics .menuM1 .menu-level2 .menu-item .menu-item-title {
          display: flex;
          align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003114}}
          .treetopics .menuM1 .menu-level .menu-item .menu-item-title .menu-item-desc, .treetopics .menuM1 .menu-level1 .menu-item .menu-item-title .menu-item-desc, .treetopics .menuM1 .menu-level2 .menu-item .menu-item-title .menu-item-desc {
            padding: .3rem;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            white-space: nowrap;
            -webkit-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
            white-space: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003116}}
            .treetopics .menuM1 .menu-level .menu-item .menu-item-title .menu-item-desc i.fas.fa-plus, .treetopics .menuM1 .menu-level1 .menu-item .menu-item-title .menu-item-desc i.fas.fa-plus, .treetopics .menuM1 .menu-level2 .menu-item .menu-item-title .menu-item-desc i.fas.fa-plus {
              display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003117}}
            .treetopics .menuM1 .menu-level .menu-item .menu-item-title .menu-item-desc i.fas.fa-minus, .treetopics .menuM1 .menu-level1 .menu-item .menu-item-title .menu-item-desc i.fas.fa-minus, .treetopics .menuM1 .menu-level2 .menu-item .menu-item-title .menu-item-desc i.fas.fa-minus {
              display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003119}}
          .treetopics .menuM1 .menu-level .menu-item .menu-item-title .btn-expand-sub-menu, .treetopics .menuM1 .menu-level1 .menu-item .menu-item-title .btn-expand-sub-menu, .treetopics .menuM1 .menu-level2 .menu-item .menu-item-title .btn-expand-sub-menu {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003122}}
      .treetopics .menuM1 .menu-level li:empty, .treetopics .menuM1 .menu-level1 li:empty, .treetopics .menuM1 .menu-level2 li:empty {
        height: 30px;
        align-self: center;
        width: 2px;
        border-right: 1px solid #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003123}}
      .treetopics .menuM1 .menu-level li:empty:last-child, .treetopics .menuM1 .menu-level1 li:empty:last-child, .treetopics .menuM1 .menu-level2 li:empty:last-child {
        display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003126}}
      .treetopics .menuM1 .menu-level .menu-item[data-selected="1"] .arrow, .treetopics .menuM1 .menu-level1 .menu-item[data-selected="1"] .arrow, .treetopics .menuM1 .menu-level2 .menu-item[data-selected="1"] .arrow {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003130}}
    .treetopics .menuM1 .arrow {
      border-width: 10px;
      border-style: solid;
      border-color: transparent;
      width: 0;
      height: 0;
      margin: 0px;
      display: none;
      border-left-color: #666;
      border-right-width: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003137}}
    .treetopics .menuM1 .menu-level1 .menu-item:first-child {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003139}}
    .treetopics .menuM1 .menu-level1 .menu-item .menu-item-desc {
      color: #666; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003142}}
    .treetopics .menuM1 .menu-level1 .menu-item[data-selected="1"] .menu-item-desc {
      color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003143}}
    .treetopics .menuM1 .menu-level1 .menu-item[data-selected="1"] .arrow {
      display: inline-block;
      border-left-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003147}}
    .treetopics .menuM1 .menu-level2 {
      display: none;
      position: absolute;
      top: 70px;
      left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003153}}
      .treetopics .menuM1 .menu-level2 .menu-item:first-child {
        display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003155}}
      .treetopics .menuM1 .menu-level2 .menu-item .menu-item-desc {
        font-weight: 400;
        color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003156}}
      .treetopics .menuM1 .menu-level2 .menu-item .arrow {
        display: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003159}}
      .treetopics .menuM1 .menu-level2 .menu-item[data-selected="1"] .menu-item-desc {
        color: #EAC167; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003160}}
      .treetopics .menuM1 .menu-level2 .menu-item[data-selected="1"] .arrow {
        display: inline-block !important;
        border-left-color: #EAC167; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003164}}
    .treetopics .menuM1 .menu-level2[data-selected="1"] {
      display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003269}}
  .treetopics .menuM5 .nav-item.dropdown {
    padding-right: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003271}}
  .treetopics .menuM5 .dropdown-submenu {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003275}}
  .treetopics .menuM5 .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003281}}
  .treetopics .menuM5 ul.navbar-nav li.nav-item {
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003283}}
    .treetopics .menuM5 ul.navbar-nav li.nav-item .nav-link {
      color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003284}}
    .treetopics .menuM5 ul.navbar-nav li.nav-item .nav-link:hover {
      color: rgba(255, 255, 255, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003286}}
  .treetopics .menuM5 ul.navbar-nav ul.dropdown-menu {
    margin: 0;
    border-radius: 0px;
    border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003294}}
    .treetopics .menuM5 ul.navbar-nav ul.dropdown-menu li .dropdown-item {
      color: #fff;
      height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003298}}
    .treetopics .menuM5 ul.navbar-nav ul.dropdown-menu li .dropdown-item:hover {
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003305}}
    .treetopics .menuM5 ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
      margin-left: 1.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003311}}
  .treetopics .menuM5 ul.navbar-nav .dropdown-submenu .pull-left {
    float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003315}}
  .treetopics .menuM5 ul.navbar-nav .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 15px 15px;
    -moz-border-radius: 6px 0 15px 15px;
    border-radius: 6px 0 15px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003325}}
  .treetopics .tt-section {
    padding: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003329}}
  .treetopics .tt-imagebuttons {
    margin: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003331}}
    .treetopics .tt-imagebuttons .tt-grid-element {
      cursor: pointer;
      filter: grayscale(100%); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003333}}
      .treetopics .tt-imagebuttons .tt-grid-element .tt-section-title {
        margin: 1rem;
        font-size: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003335}}
    .treetopics .tt-imagebuttons .tt-grid-element:hover {
      cursor: pointer;
      filter: grayscale(0%); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003339}}
  .treetopics .menu-map .root {
    font-size: 20px;
    line-height: 3rem;
    padding-left: 4rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003340}}
  .treetopics .menu-map .activity-list {
    line-height: 20px;
    font-size: 16px; }
  @media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000327}}
    .treetopics {
        /* .menuM3{ 
            width: 100%;
            position: relative;
            display: block;
            z-index: 1020;
            transition: 0.5s;

            .menu-level{
                flex-direction: column;
                .menu-item{
                    display:none;
                    align-self: auto;
                    place-content: flex-start;
                    .menu-item-desc{display: block; color: #666; margin-left: 8%; margin-top: 10px; margin-bottom: 10px;
                        //plus and minus icon
                        i#sectionIcon-active{
                            display: flex;
                            flex-grow: 2;
                            color: #666;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                }
                .menu-item[data-selected="1"]{
                    border-bottom: 0.1px solid white;
                    background-color: #dab462;
                    .menu-item-desc{color: #fff; text-decoration: none;}
                } 
            }

            //Menu Level1
            .menu-level1{
                
                .menu-item{
                    //CSS for the rest of the items
                    border-right: none;
                    border-bottom: 0.1px solid white;
                    place-content: flex-start;
                    padding-right: 0px;
                    padding-left: 0;
                    .menu-item-desc{ display: flex; flex-grow: 1; color: #666; margin-left: 8%; margin-top: 10px; margin-bottom: 10px;}
                    //H5
                    #section-title, h5{
                        font-variant: all-petite-caps;
                        padding-top: 0.7rem;
                        margin-left: 1rem;
                        margin-right: 3rem;
                        max-width: 22rem;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    #sousSection-title{
                        font-size: large;
                        margin-right: 1rem;
                    }
                    //DIV
                    #sous-title, div{
                        display: grid;
                        background-color: #666;
                        width: 103%;
                        margin-left: -0.3rem;
                        border-top: 1px solid white;
                        padding-bottom: 0.2rem;
                        color: white;
                    }
                }
                
                //CSS for the icon, the first element.
                .menu-item:first-child{
                    display: block;
                    float: left;
                    border-bottom: none;
                    padding-bottom: 0px;
                }
                
                .menu-item a:first-child{
                    display : flex;
                    color: white;
                    background-color: #dab462;
                    margin: 0.7rem;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                    float: left;
                    text-decoration: none;
                }

                //Item selected
                .menu-item[data-selected="1"]{
                    background-color: #dab462 !important;
                    .menu-item-desc{color: #fff;}
                    .arrow{display: none;}
                    .menu-level2{ display: flex;}
                } 
                .menu-item:hover{
                    background-color: #ecc369;}

                 //Menu level 2
                .menu-level2{
                    position: relative;
                    display:none;
                    background-color: #dab462;
                    background-image: none;
                    border-bottom: none;
                    .menu-item{
                        border-bottom: 1px solid #fff;
                        place-content: flex-start;
                        margin-left: 3rem; margin-right: 2rem;
                        .menu-item-desc{font-size: small; color: #666; border-bottom: none; padding-right: 0; }
                    }

                    //Item selected
                    .menu-item[data-selected="1"]{
                        .menu-item-desc{color: #fff !important; }
                        
                    } 
                }
            }
        }

        //Opened responsive menuM3
        .menuM3.responsive{
            width: 75%;
            position: absolute;
            z-index: 1050;
            .menu-level{
                .menu-item{
                    background-color: initial;
                    display: block;
                    .menu-item-desc a{display:flex;}
                    //H5
                    #section-title, h5{
                        background-color: initial;
                        display: none;
                    }
                    //DIV
                    #sous-title, div{
                        display: none;
                        border-top: none;
                        background-color: transparent;
                    }
                }
            }

            //fa-close icon on level1
            .menu-level1{
                .menu-item:first-child{
                    border-bottom: none;
                    padding-bottom: 6px;
                    padding-left: 64px;
                    margin-left: 161px;
                }
                .menu-item a:first-child{
                    display: flex;
                    flex-direction: row-reverse;
                    color: white;
                    background-color: #dab462;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
            }

            .menu-level2{
                position: relative;
                top: 0;
                left: 0;
                padding-left: 0px;
                padding-bottom: 30px;
                .menu-item:first-child{
                    border-bottom: 0.1px solid white;
                    padding-bottom: 0;
                    padding-left: 0px;
                    margin-left: 3rem;
                }
                .menu-item a:first-child{
                    display: flex;
                    flex-direction: row;
                    color: white;
                    background-color: #dab462;

                }
            }
        }*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003345}}
      .treetopics .menuM1 {
        margin-bottom: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003347}}
      .treetopics .menuM1[data-status='closed'] {
        width: 100%;
        position: relative;
        display: block;
        transition: 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003350}}
        .treetopics .menuM1[data-status='closed'] .background-menu-mobile {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003352}}
        .treetopics .menuM1[data-status='closed'] .btn-menu-responsive {
          width: 100%;
          display: flex;
          justify-content: left;
          padding: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003354}}
          .treetopics .menuM1[data-status='closed'] .btn-menu-responsive button[data-btn='open'] {
            width: 10%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003355}}
          .treetopics .menuM1[data-status='closed'] .btn-menu-responsive .section-title {
            width: 90%;
            font-variant: all-petite-caps;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: 500;
            line-height: 1.2;
            font-size: 22px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003356}}
          .treetopics .menuM1[data-status='closed'] .btn-menu-responsive .sous-section-title {
            font-size: large;
            margin-right: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003357}}
          .treetopics .menuM1[data-status='closed'] .btn-menu-responsive button[data-btn='close'] {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003361}}
        .treetopics .menuM1[data-status='closed'] .menu-level1 li:empty {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003362}}
        .treetopics .menuM1[data-status='closed'] .menu-level1 .menu-item {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003367}}
      .treetopics .menuM1[data-status='open'] {
        width: 100%;
        position: absolute;
        z-index: 1050;
        transition: 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003370}}
        .treetopics .menuM1[data-status='open'] .background-menu-mobile {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          z-index: 1040; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003372}}
        .treetopics .menuM1[data-status='open'] .btn-menu-responsive {
          display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003374}}
          .treetopics .menuM1[data-status='open'] .btn-menu-responsive button[data-btn='open'] {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003375}}
          .treetopics .menuM1[data-status='open'] .btn-menu-responsive .section-title {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003376}}
          .treetopics .menuM1[data-status='open'] .btn-menu-responsive .sous-section-title {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003377}}
          .treetopics .menuM1[data-status='open'] .btn-menu-responsive button[data-btn='close'] {
            display: block;
            margin: .5rem .5rem 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003380}}
        .treetopics .menuM1[data-status='open'] .menu-level, .treetopics .menuM1[data-status='open'] .menu-level1, .treetopics .menuM1[data-status='open'] .menu-level2 {
          flex-direction: column;
          position: absolute;
          z-index: 1070;
          height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003383}}
          .treetopics .menuM1[data-status='open'] .menu-level li:empty, .treetopics .menuM1[data-status='open'] .menu-level1 li:empty, .treetopics .menuM1[data-status='open'] .menu-level2 li:empty {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003385}}
          .treetopics .menuM1[data-status='open'] .menu-level .menu-item, .treetopics .menuM1[data-status='open'] .menu-level1 .menu-item, .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item {
            border-bottom: .1px solid #fff;
            width: 90%;
            flex-direction: column; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003387}}
            .treetopics .menuM1[data-status='open'] .menu-level .menu-item .menu-item-title, .treetopics .menuM1[data-status='open'] .menu-level1 .menu-item .menu-item-title, .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item .menu-item-title {
              justify-content: space-between;
              display: flex;
              width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003389}}
              .treetopics .menuM1[data-status='open'] .menu-level .menu-item .menu-item-title .arrow, .treetopics .menuM1[data-status='open'] .menu-level1 .menu-item .menu-item-title .arrow, .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item .menu-item-title .arrow {
                display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003390}}
              .treetopics .menuM1[data-status='open'] .menu-level .menu-item .menu-item-title .menu-item-desc, .treetopics .menuM1[data-status='open'] .menu-level1 .menu-item .menu-item-title .menu-item-desc, .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item .menu-item-title .menu-item-desc {
                margin-left: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003394}}
            .treetopics .menuM1[data-status='open'] .menu-level .menu-item[data-submenu="1"] .btn-expand-sub-menu, .treetopics .menuM1[data-status='open'] .menu-level1 .menu-item[data-submenu="1"] .btn-expand-sub-menu, .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item[data-submenu="1"] .btn-expand-sub-menu {
              display: flex;
              align-self: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003397}}
            .treetopics .menuM1[data-status='open'] .menu-level .menu-item[data-selected="1"], .treetopics .menuM1[data-status='open'] .menu-level1 .menu-item[data-selected="1"], .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item[data-selected="1"] {
              background-color: #dab462; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003399}}
              .treetopics .menuM1[data-status='open'] .menu-level .menu-item[data-selected="1"] .menu-item-desc, .treetopics .menuM1[data-status='open'] .menu-level1 .menu-item[data-selected="1"] .menu-item-desc, .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item[data-selected="1"] .menu-item-desc {
                color: #fff;
                text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003404}}
        .treetopics .menuM1[data-status='open'] .menu-level2 {
          position: relative;
          margin: 1rem;
          top: 0;
          background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003406}}
          .treetopics .menuM1[data-status='open'] .menu-level2 li[data-selected="1"] {
            background-color: #dab462; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003407}}
          .treetopics .menuM1[data-status='open'] .menu-level2[data-status='open'] {
            display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003408}}
          .treetopics .menuM1[data-status='open'] .menu-level2[data-status='closed'] {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003409}}
          .treetopics .menuM1[data-status='open'] .menu-level2 .btn-expand-sub-menu {
            display: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003412}}
          .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item-title .arrow {
            display: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003413}}
          .treetopics .menuM1[data-status='open'] .menu-level2 .menu-item-title .menu-item-desc {
            margin-left: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003611}}
      .treetopics .menuM5 ul.navbar-nav li.nav-item {
        text-align: left !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003612}}
      .treetopics .menuM5 ul.navbar-nav ul.dropdown-menu {
        box-shadow: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003615}}
        .treetopics .menuM5 ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
          margin-left: 1rem !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003623}}
      .treetopics.vertical, .treetopics.vertical-right, .treetopics.vertical-left {
        grid-template-columns: none;
        grid-template-rows: none;
        display: block;
        margin-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003629}}
        .treetopics.vertical .menuM5, .treetopics.vertical-right .menuM5, .treetopics.vertical-left .menuM5 {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          justify-content: flex-end;
          z-index: 100; } }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003636}}
    .treetopics .grid1, .treetopics .grid2, .treetopics .grid3, .treetopics .grid4, .treetopics .grid5, .treetopics .grid6 {
      display: grid;
      grid-template-columns: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003638}}
      .treetopics .grid1 .tt-imagebuttons, .treetopics .grid2 .tt-imagebuttons, .treetopics .grid3 .tt-imagebuttons, .treetopics .grid4 .tt-imagebuttons, .treetopics .grid5 .tt-imagebuttons, .treetopics .grid6 .tt-imagebuttons {
        margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003640}}
        .treetopics .grid1 .tt-imagebuttons .tt-section-image, .treetopics .grid2 .tt-imagebuttons .tt-section-image, .treetopics .grid3 .tt-imagebuttons .tt-section-image, .treetopics .grid4 .tt-imagebuttons .tt-section-image, .treetopics .grid5 .tt-imagebuttons .tt-section-image, .treetopics .grid6 .tt-imagebuttons .tt-section-image {
          width: 375px;
          height: auto; } }
  @media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003647}}
    .treetopics .grid1 {
      display: grid;
      grid-template-columns: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003648}}
      .treetopics .grid1 .tt-section-image {
        width: 100%;
        height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003650}}
    .treetopics .grid2, .treetopics .grid3, .treetopics .grid4, .treetopics .grid5, .treetopics .grid6 {
      display: grid;
      grid-template-columns: 50% 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003651}}
      .treetopics .grid2 .tt-section-image, .treetopics .grid3 .tt-section-image, .treetopics .grid4 .tt-section-image, .treetopics .grid5 .tt-section-image, .treetopics .grid6 .tt-section-image {
        width: 335px;
        height: auto; } }
  @media only screen and (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003657}}
    .treetopics .grid1 {
      display: grid;
      grid-template-columns: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003658}}
      .treetopics .grid1 .tt-section-image {
        width: 100%;
        height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003660}}
    .treetopics .grid2 {
      display: grid;
      grid-template-columns: 50% 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003661}}
      .treetopics .grid2 .tt-section-image {
        width: 100%;
        height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003663}}
    .treetopics .grid3 {
      display: grid;
      grid-template-columns: 33% 33% 34%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003664}}
      .treetopics .grid3 .tt-section-image {
        width: 100%;
        height: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003666}}
    .treetopics .grid4, .treetopics .grid5, .treetopics .grid6 {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodledev39\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003667}}
      .treetopics .grid4 .tt-section-image, .treetopics .grid5 .tt-section-image, .treetopics .grid6 .tt-section-image {
        width: 100%;
        height: auto; } }

/*# sourceMappingURL=styles.css.map */
