//$primary:#0069bf;
$menu-item-height:30px;

.treetopics{
    display: grid; margin: -1rem; // the tree topics navbar has no padding  

    .menuM1{
        position: relative;        

        .menu-level{
            width: 100%; list-style: none; margin: auto; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; padding: 0; margin-bottom: 35px;

            .menu-item{
                padding: .3rem; margin: .1rem;  min-width: 120px; align-self: center; display: flex; justify-content: center; align-items: center;
                .menu-item-desc{padding: .3rem;    font-size: 16px;      font-weight: 600;    
                    white-space: nowrap;    -webkit-hyphens: none;    -ms-hyphens: none;    hyphens: none; white-space: normal;
                    i.fas.fa-plus{display: none;}
                    i.fas.fa-minus{display: none;}
                }
            }
            li:empty{ height: 30px; align-self: center; width: 2px; border-right: 1px solid #FFF;}
            li:empty:last-child{ display: none;}

            .menu-item[data-selected="1"]{
                .arrow{display: block;}
            }       
        }

        .arrow{
            border-width: 10px; border-style: solid; border-color: transparent; width: 0; height: 0; margin: 0px; display: none; 
            border-left-color: #666; border-right-width: 0px;
        }

        .menu-level1{
            @extend .menu-level;
            .menu-item:first-child{ display: none;} 
            .menu-item{
                .menu-item-desc{color: #666;}
            }
            .menu-item[data-selected="1"]{
                .menu-item-desc{color: #fff;}
                .arrow{display: block;  border-left-color: #fff; }
            } 
        }
        
        .menu-level2{
            @extend .menu-level; 
            display: none;
            position: absolute; 
            top: 46px;
            left: 0px;
            .menu-item:first-child{ display: flex;} 
            .menu-item{
                .menu-item-desc{font-weight: 400;  color: #fff; }
                .arrow{display: none !important;}
            }
            .menu-item[data-selected="1"]{
                .menu-item-desc{ color: #EAC167;}
                .arrow{display: block !important;  border-left-color: #EAC167; }
            } 
        }

        .menu-level2[data-selected="1"]{
            display: flex;
        }
    }
    //Mega Menu
    .menuM3{
        position: relative; 
        z-index: 1020;       

        .menu-level{
            width: 100%; list-style: none; margin: auto; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; padding: 0;
            .menu-item{
                padding: .3rem; margin: .1rem;  min-width: 120px; align-self: center; display: flex; justify-content: center; align-items: center; border-right: 1px solid white; 
                .menu-item-desc{padding: .3rem;    font-size: 16px;      font-weight: 600;    
                    white-space: nowrap;    -webkit-hyphens: none;    -ms-hyphens: none;    hyphens: none; white-space: normal;
                    i.fas.fa-plus{display: none;}
                    i.fas.fa-minus{display: none;}
                }
            }

            .menu-item[data-selected="1"]{
                .arrow{display: block;}
            }  
            
            .arrow{
                border-width: 10px; border-style: solid; border-color: transparent; width: 0; height: 0; margin: 0px; display: none; 
                border-left-color: #666; border-right-width: 0px;
            }
        }

        .menu-level1{
            @extend .menu-level;
            .menu-item:first-child{ display: none;} 
            //.menu-item:last-child{ border-right: none;} 
            .menu-item{
                flex-grow: 1;
                margin: 0;
                border-bottom: 1px solid white;
                .menu-item-desc{
                    color: #666;
                    .fa.fa-map{margin-right: 0.5rem; align-self: center;}
                }
            }
            //Hover
            .menu-item:hover{
                background-color: #DCDCDC;
                padding-top: 6px;
                border-bottom: none;
                .menu-item-desc{color: #666;}
                .menu-level2{
                    display: flex;
                    .arrow{display: none;}
                    .menu-item{background-color: transparent;}
                }
            }
            .menu-item[data-selected="1"]{
                .menu-item-desc{color: #666;}
                .arrow{display: block;  border-left-color: #666; }
            } 
        }

        .menu-level2{
            @extend .menu-level; 
            position: absolute;
            padding-left: 50px;
            top: 44px;
            left: 0px;
            display: none;
            border-bottom: 3px solid #ecc369;
            background-color: #DCDCDC;
            background-image: linear-gradient( #DCDCDC, #F8F8F8);
            z-index: 1010;
            .menu-item:first-child{ display: block;} 
            .menu-item{
                border-right: none;
                margin-top: 1.5rem;
                align-self: end;
                display: block;
                border-bottom: none;
                .menu-item-desc{
                    font-weight: 400;  
                    color: rgb(0, 0, 0) !important;
                    border-bottom: 1px solid #d8d7d7; 
                    padding-bottom: 0;
                    padding-right: 7rem;
                }
                .menu-level3{
                    list-style: none;
                    .text_to_html{
                        width: 10rem;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        .autolink{
                            color: black;
                        }
                    }
                }
            }
        }
        

    }

    #tt-recit-nav{
        //background-color: $primary;


        .nav-item.dropdown{padding-right: 1rem;}

        .dropdown-submenu {
            position: relative;
        }
          
        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
        }
    
        ul.navbar-nav{
            li.nav-item{
                text-align: left;
                .nav-link{color: #FFF;}
                .nav-link:hover{color: rgba(255,255,255,.5);}
            }
            ul.dropdown-menu{
                //background-color: $primary;
                margin: 0;
                border-radius: 0px;
                border: none;
               // box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    
                li{
                    .dropdown-item{
                        color: #fff;
                        height: $menu-item-height;
                    }
                    .dropdown-item:hover{
                        color: rgba(255,255,255,.5);
                        background-color: transparent;
                    }
                }
    
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 1.5rem;
                    }
                }
            }
            
            .dropdown-submenu .pull-left{
                float:none;
            }
            
            .dropdown-submenu.pull-left > .dropdown-menu{
                left:-100%;
                margin-left:10px;
                -webkit-border-radius:6px 0 15px 15px;
                -moz-border-radius:6px 0 15px 15px;
                border-radius:6px 0 15px 15px;
            }
        }
    }

    .tt-section{
        padding: 1rem;
    }

    .tt-imagebuttons{
        margin: 1rem;
        .tt-grid-element{
            cursor: pointer; filter: grayscale(100%);
            .tt-section-title{ margin: 1rem; font-size: 1.2em;}
        }
        .tt-grid-element:hover{ cursor: pointer; filter: grayscale(0%);}        
    }

    //------------------ Menu responsive ----------------/
    @media screen and (max-width: 767px){
        div#dark-background-menu{
            display:none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            z-index: 1040;
        } 
        //Closed responsive menuM1.
        .menuM1{ 
            width: 100%;
            position: relative;
            display: block;
            z-index: 1020;
            transition: 0.5s;

            .menu-level{
                .menu-item{
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    display:none;
                    align-self: auto;
                    border-bottom: 0.1px solid white;
                    place-content: flex-start;
                    .menu-item-desc{display: block; color: #666; margin-left: 8%; margin-top: 10px; margin-bottom: 10px;
                        //plus and minus icon
                        i#sectionIcon-active{
                            display: flex;
                            flex-grow: 2;
                            color: #666;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                }
            }

            //Menu Level1
            .menu-level1{
                li:empty{ display: none;}
                //CSS for the icon, the first element.
                .menu-item{
                    //CSS for the rest of the items
                    border-bottom: 0.1px solid white;
                    place-content: flex-start;
                    .menu-item-desc{ display: flex; flex-grow: 1; color: #666; margin-left: 8%; margin-top: 10px; margin-bottom: 10px;}
                    //H5
                    #section-title, h5{
                        font-variant: all-petite-caps;
                        padding-top: 0.7rem;
                        margin-left: 1rem;
                        margin-right: 3rem;
                        max-width: 22rem;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    #sousSection-title{
                        font-size: large;
                        margin-right: 1rem;
                    }
                    //DIV
                    #sous-title, div{
                        display: grid;
                        background-color: #666;
                        width: 100%;
                        border-top: 1px solid white;
                        padding-bottom: 0.2rem;
                        color: white;
                    }
                }
                
                    
                
                .menu-item a:first-child{
                    display : flex;
                    color: white;
                    background-color: #dab462;
                    margin: 0.7rem;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                    float: left;
                    text-decoration: none;
                }

                //Item selected
                .menu-item[data-selected="1"]{
                    background-color: #dab462;
                    .menu-item-desc.level-section{color: #fff; text-decoration: none;}
                    .arrow{display: none;}
                } 
                .menu-item:first-child{
                    float: left; 
                    display: block;
                    border-bottom: none;
                }
            }

            //Menu level 2
            .menu-level2{
                li:empty{ display: none;}
                position: relative; 
                top: 0;
                display:none;
                background-color: #dab462;
                color: #666;
                .menu-item{
                    border-bottom: 1px solid #fff;
                    place-content: flex-start;
                    margin-left: 3rem; margin-right: 2rem;
                    .menu-item-desc{font-size: small; color: #666; }
                }

                //Item selected
                .menu-item[data-selected="1"]{
                    .menu-item-desc{color: #fff; border-right-style: dashed; }
                    .arrow{display: none !important;}
                    
                } 
            }
        }

        //Opened responsive menuM1
        .menuM1.responsive{
            width: 75%;
            position: absolute;
            z-index: 1050;
            .menu-level{
                .menu-item{
                    display: block;
                    .menu-item-desc a{
                        display:flex;
                    }
                }
                .menu-item{
                    //H5
                    #section-title, h5{
                        display: none;
                    }
                    //DIV
                    #sous-title, div{
                        display: none;
                        border-top: none;
                        background-color: transparent;
                    }
                    
                }
                
            }

            //fa-close icon on level1
            .menu-level1{
                .menu-item:first-child{
                    border-bottom: none;
                }
                .menu-item a:first-child{
                    display: flex;
                    flex-direction: row-reverse;
                    color: white;
                    background-color: #dab462;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                    margin-left: 15rem;
                    margin-right: 5px;
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
            }
            
            .menu-level2{
                .menu-item:first-child{
                    border-bottom: 1px solid white;
                }
            }
        }

        //-------------------- Mega Menu responsive ---------------------------/
         //Closed responsive menuM3.
         .menuM3{ 
            width: 100%;
            position: relative;
            display: block;
            z-index: 1020;
            transition: 0.5s;

            .menu-level{
                flex-direction: column;
                .menu-item{
                    display:none;
                    align-self: auto;
                    place-content: flex-start;
                    .menu-item-desc{display: block; color: #666; margin-left: 8%; margin-top: 10px; margin-bottom: 10px;
                        //plus and minus icon
                        i#sectionIcon-active{
                            display: flex;
                            flex-grow: 2;
                            color: #666;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                }
                .menu-item[data-selected="1"]{
                    border-bottom: 0.1px solid white;
                    background-color: #dab462;
                    .menu-item-desc{color: #fff; text-decoration: none;}
                } 
            }

            //Menu Level1
            .menu-level1{
                
                .menu-item{
                    //CSS for the rest of the items
                    border-right: none;
                    border-bottom: 0.1px solid white;
                    place-content: flex-start;
                    padding-right: 0px;
                    padding-left: 0;
                    .menu-item-desc{ display: flex; flex-grow: 1; color: #666; margin-left: 8%; margin-top: 10px; margin-bottom: 10px;}
                    //H5
                    #section-title, h5{
                        font-variant: all-petite-caps;
                        padding-top: 0.7rem;
                        margin-left: 1rem;
                        margin-right: 3rem;
                        max-width: 22rem;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    #sousSection-title{
                        font-size: large;
                        margin-right: 1rem;
                    }
                    //DIV
                    #sous-title, div{
                        display: grid;
                        background-color: #666;
                        width: 103%;
                        margin-left: -0.3rem;
                        border-top: 1px solid white;
                        padding-bottom: 0.2rem;
                        color: white;
                    }
                }
                
                //CSS for the icon, the first element.
                .menu-item:first-child{
                    display: block;
                    float: left;
                    border-bottom: none;
                    padding-bottom: 0px;
                }
                
                .menu-item a:first-child{
                    display : flex;
                    color: white;
                    background-color: #dab462;
                    margin: 0.7rem;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                    float: left;
                    text-decoration: none;
                }

                //Item selected
                .menu-item[data-selected="1"]{
                    background-color: #dab462 !important;
                    .menu-item-desc{color: #fff;}
                    .arrow{display: none;}
                    .menu-level2{ display: flex;}
                } 
                .menu-item:hover{
                    background-color: #ecc369;}

                 //Menu level 2
                .menu-level2{
                    position: relative;
                    display:none;
                    background-color: #dab462;
                    background-image: none;
                    border-bottom: none;
                    .menu-item{
                        border-bottom: 1px solid #fff;
                        place-content: flex-start;
                        margin-left: 3rem; margin-right: 2rem;
                        .menu-item-desc{font-size: small; color: #666; border-bottom: none; padding-right: 0; }
                    }

                    //Item selected
                    .menu-item[data-selected="1"]{
                        .menu-item-desc{color: #fff !important; }
                        
                    } 
                }
            }
        }

        //Opened responsive menuM3
        .menuM3.responsive{
            width: 75%;
            position: absolute;
            z-index: 1050;
            .menu-level{
                .menu-item{
                    background-color: initial;
                    display: block;
                    .menu-item-desc a{display:flex;}
                    //H5
                    #section-title, h5{
                        background-color: initial;
                        display: none;
                    }
                    //DIV
                    #sous-title, div{
                        display: none;
                        border-top: none;
                        background-color: transparent;
                    }
                }
            }

            //fa-close icon on level1
            .menu-level1{
                .menu-item:first-child{
                    border-bottom: none;
                    padding-bottom: 6px;
                    padding-left: 64px;
                    margin-left: 161px;
                }
                .menu-item a:first-child{
                    display: flex;
                    flex-direction: row-reverse;
                    color: white;
                    background-color: #dab462;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
            }

            .menu-level2{
                position: relative;
                top: 0;
                left: 0;
                padding-left: 0px;
                padding-bottom: 30px;
                .menu-item:first-child{
                    border-bottom: 0.1px solid white;
                    padding-bottom: 0;
                    padding-left: 0px;
                    margin-left: 3rem;
                }
                .menu-item a:first-child{
                    display: flex;
                    flex-direction: row;
                    color: white;
                    background-color: #dab462;

                }
            }
        }
    }

	@media only screen and (max-width: 600px) {
        .grid1, .grid2, .grid3, .grid4, .grid5, .grid6 {
            display: grid; grid-template-columns: 100%;
            .tt-imagebuttons{ 
                margin: 0;
                .tt-section-image{width: 375px;height: 150px;}
            }
        }
    }
	
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .grid1{display: grid;grid-template-columns: 100%;
            .tt-section-image{width: 100%; height: 400px;}
        }
        .grid2, .grid3, .grid4, .grid5, .grid6 {display: grid; grid-template-columns: 50% 50%;
            .tt-section-image{ width: 335px; height: 170px;}
        }
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .grid1{ display: grid; grid-template-columns: 100%;
            .tt-section-image{ width: 100%; height: 552px; }
        }
        .grid2{display: grid; grid-template-columns: 50% 50%;
            .tt-section-image{ width: 100%; height: 276px; }
        }
        .grid3{display: grid; grid-template-columns: 33% 33% 34%;
            .tt-section-image{ width: 100%; height: 184px; }
        }
        .grid4, .grid5, .grid6{ display: grid; grid-template-columns: 25% 25% 25% 25%;
            .tt-section-image{ width: 100%; height: 138px; }
        }
    }
    
    .menu-map{
        .root{font-size: 20px; line-height: 3rem; padding-left: 4rem;}
        .activity-list{line-height: 20px; font-size: 16px;}
    }
}

.treetopics.horizontal{
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    #tt-recit-nav{
        ul.navbar-nav{
            li.nav-item{text-align: center;}

            ul.dropdown-menu{
                box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 0px;
                    }
                }
            }
            li.nav-item[data-selected="1"]{font-weight: bold; text-decoration:underline;}
        }
    }
}

.treetopics.vertical{
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;

    .navbar{align-items: baseline; align-content: baseline;}

    @media (min-width: 992px){
        .navbar-expand-lg{
            .navbar-nav{
                flex-direction: column;
                .dropdown-menu{position: relative;}
            }
        }  
    }
        
    #tt-recit-nav{
        //min-width: 10vw;
        .dropdown-submenu>.dropdown-menu{left: 0; top: 100%;}

        ul.navbar-nav{
            ul.dropdown-menu{
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 1rem;
                    }
                }
            }
            li.nav-item[data-selected="1"]{font-weight: bold; font-size: large; text-decoration:underline;}            
        }
    }
}

.course-content{
    .editing-mode-menu{
        li.section{list-style: none; margin-bottom: 1rem;}
        li.section[data-section-level="2"]{padding-left: 3.3rem;}
        li.section[data-section-level="3"]{padding-left: 6.3rem;}
    }
}

.tt-contract{
    width: 80%; margin: auto;
    
    .tt-contract-content{
        white-space: pre-wrap;
        text-align: justify;
        border: solid;
        padding: 16px;
        border: 1px solid #efefef;
    }
}

@media screen and (max-width: 992px){
    .treetopics.vertical{
        grid-template-columns: none;
        grid-template-rows: none;
        display: block;
        margin-top: $menu-item-height;

        #tt-recit-nav{
            position: absolute; top: 0; right: 0; width: 100%; justify-content: flex-end; z-index: 100;
        }
    }

    #tt-recit-nav{
        ul.navbar-nav{
            li.nav-item{text-align: left !important;}
            ul.dropdown-menu{
                box-shadow: none !important;
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 1rem!important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .menu{
        .menu-level{
            flex-direction: column;
            .menu-item{
                padding: 0px;
            }
            li:empty{ display: none;}
        }
    }
}
