@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\000034}}
.treetopics {
  display: grid;
  margin: -1rem;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000311}}
  .treetopics #tt-recit-nav .nav-item.dropdown {
    padding-right: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000313}}
  .treetopics #tt-recit-nav .dropdown-submenu {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000317}}
  .treetopics #tt-recit-nav .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000323}}
  .treetopics #tt-recit-nav ul.navbar-nav li.nav-item {
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000325}}
    .treetopics #tt-recit-nav ul.navbar-nav li.nav-item .nav-link {
      color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000326}}
    .treetopics #tt-recit-nav ul.navbar-nav li.nav-item .nav-link:hover {
      color: rgba(255, 255, 255, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000328}}
  .treetopics #tt-recit-nav ul.navbar-nav ul.dropdown-menu {
    margin: 0;
    border-radius: 0px;
    border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000336}}
    .treetopics #tt-recit-nav ul.navbar-nav ul.dropdown-menu li .dropdown-item {
      color: #fff;
      height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000340}}
    .treetopics #tt-recit-nav ul.navbar-nav ul.dropdown-menu li .dropdown-item:hover {
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000347}}
    .treetopics #tt-recit-nav ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
      margin-left: 1.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000353}}
  .treetopics #tt-recit-nav ul.navbar-nav .dropdown-submenu .pull-left {
    float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000357}}
  .treetopics #tt-recit-nav ul.navbar-nav .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 15px 15px;
    -moz-border-radius: 6px 0 15px 15px;
    border-radius: 6px 0 15px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000367}}
  .treetopics .tt-section {
    padding: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000371}}
  .treetopics .tt-imagebuttons {
    margin: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000373}}
    .treetopics .tt-imagebuttons .tt-grid-element {
      cursor: pointer;
      filter: grayscale(100%); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000375}}
      .treetopics .tt-imagebuttons .tt-grid-element .tt-section-title {
        margin: 1rem;
        font-size: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000377}}
    .treetopics .tt-imagebuttons .tt-grid-element:hover {
      cursor: pointer;
      filter: grayscale(0%); }
  @media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000381}}
    .treetopics .grid1, .treetopics .grid2, .treetopics .grid3, .treetopics .grid4, .treetopics .grid5, .treetopics .grid6 {
      display: grid;
      grid-template-columns: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000384}}
      .treetopics .grid1 .tt-section-image, .treetopics .grid2 .tt-section-image, .treetopics .grid3 .tt-section-image, .treetopics .grid4 .tt-section-image, .treetopics .grid5 .tt-section-image, .treetopics .grid6 .tt-section-image {
        width: 540px;
        height: 300px;
        /*float: left;*/ } }
  @media only screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000390}}
    .treetopics .grid1, .treetopics .grid2, .treetopics .grid3, .treetopics .grid4, .treetopics .grid5, .treetopics .grid6 {
      display: grid;
      grid-template-columns: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000391}}
      .treetopics .grid1 .tt-section-image, .treetopics .grid2 .tt-section-image, .treetopics .grid3 .tt-section-image, .treetopics .grid4 .tt-section-image, .treetopics .grid5 .tt-section-image, .treetopics .grid6 .tt-section-image {
        width: 540px;
        height: 300px;
        /*float: left;*/ } }
  @media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000397}}
    .treetopics .grid1 {
      display: grid;
      grid-template-columns: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\0000398}}
      .treetopics .grid1 .tt-section-image {
        width: 768px;
        height: 423px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003100}}
    .treetopics .grid2, .treetopics .grid3, .treetopics .grid4, .treetopics .grid5, .treetopics .grid6 {
      display: grid;
      grid-template-columns: 50% 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003101}}
      .treetopics .grid2 .tt-section-image, .treetopics .grid3 .tt-section-image, .treetopics .grid4 .tt-section-image, .treetopics .grid5 .tt-section-image, .treetopics .grid6 .tt-section-image {
        width: 384px;
        height: 212px;
        /*float: left;*/ } }
  @media only screen and (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003107}}
    .treetopics .grid1 {
      display: grid;
      grid-template-columns: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003108}}
      .treetopics .grid1 .tt-section-image {
        width: 992px;
        height: 552px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003110}}
    .treetopics .grid2 {
      display: grid;
      grid-template-columns: 50% 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003111}}
      .treetopics .grid2 .tt-section-image {
        width: 496px;
        height: 276px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003113}}
    .treetopics .grid3 {
      display: grid;
      grid-template-columns: 33% 33% 34%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003114}}
      .treetopics .grid3 .tt-section-image {
        width: 331px;
        height: 184px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003116}}
    .treetopics .grid4, .treetopics .grid5, .treetopics .grid6 {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003117}}
      .treetopics .grid4 .tt-section-image, .treetopics .grid5 .tt-section-image, .treetopics .grid6 .tt-section-image {
        width: 248px;
        height: 138px;
        /*float: left;*/ } }
  @media only screen and (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003123}}
    .treetopics .grid1 {
      display: grid;
      grid-template-columns: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003124}}
      .treetopics .grid1 .tt-section-image {
        width: 1200px;
        height: 670px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003126}}
    .treetopics .grid2 {
      display: grid;
      grid-template-columns: 50% 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003127}}
      .treetopics .grid2 .tt-section-image {
        width: 600px;
        height: 335px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003129}}
    .treetopics .grid3 {
      display: grid;
      grid-template-columns: 33% 33% 34%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003130}}
      .treetopics .grid3 .tt-section-image {
        width: 400px;
        height: 224px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003132}}
    .treetopics .grid4 {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003133}}
      .treetopics .grid4 .tt-section-image {
        width: 300px;
        height: 167px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003135}}
    .treetopics .grid5 {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003136}}
      .treetopics .grid5 .tt-section-image {
        width: 240px;
        height: 134px;
        /*float: left;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003138}}
    .treetopics .grid6 {
      display: grid;
      grid-template-columns: 16% 16% 16% 16% 16% 17%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003139}}
      .treetopics .grid6 .tt-section-image {
        width: 200px;
        height: 112px;
        /*float: left;*/ } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003144}}
  .treetopics .menu-map .root {
    font-size: 20px;
    line-height: 3rem;
    padding-left: 4rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003145}}
  .treetopics .menu-map .activity-list {
    line-height: 20px;
    font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003149}}
.treetopics.horizontal {
  grid-template-columns: auto;
  grid-template-rows: auto auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003155}}
  .treetopics.horizontal #tt-recit-nav ul.navbar-nav li.nav-item {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003157}}
  .treetopics.horizontal #tt-recit-nav ul.navbar-nav ul.dropdown-menu {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003161}}
    .treetopics.horizontal #tt-recit-nav ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
      margin-left: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003170}}
.treetopics.vertical {
  grid-template-columns: 80% 20%;
  grid-template-rows: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003174}}
  .treetopics.vertical .navbar {
    align-items: baseline;
    align-content: baseline; }
  @media (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003178}}
    .treetopics.vertical .navbar-expand-lg .navbar-nav {
      flex-direction: column; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003180}}
      .treetopics.vertical .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: relative; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003187}}
  .treetopics.vertical #tt-recit-nav .dropdown-submenu > .dropdown-menu {
    left: 0;
    top: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003192}}
  .treetopics.vertical #tt-recit-nav ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
    margin-left: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003202}}
.course-content li.section {
  list-style: none;
  margin-bottom: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003203}}
.course-content li.section[data-section-level="2"] {
  padding-left: 3.3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003204}}
.course-content li.section[data-section-level="3"] {
  padding-left: 6.3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003207}}
.tt-contract {
  width: 80%;
  margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003210}}
  .tt-contract .tt-contract-content {
    white-space: pre-wrap;
    text-align: justify;
    border: solid;
    padding: 16px;
    border: 1px solid #efefef; }

@media screen and (max-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003222}}
  .treetopics.vertical {
    grid-template-columns: none;
    grid-template-rows: none;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003227}}
    .treetopics.vertical #tt-recit-nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      justify-content: flex-end;
      z-index: 100; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003234}}
  #tt-recit-nav ul.navbar-nav li.nav-item {
    text-align: left !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003235}}
  #tt-recit-nav ul.navbar-nav ul.dropdown-menu {
    box-shadow: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/recitfad-vm-devserver\/shared\/moodle\/course\/format\/treetopics\/styles\.scss}line{font-family:\00003238}}
    #tt-recit-nav ul.navbar-nav ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
      margin-left: 1rem !important; } }

/*# sourceMappingURL=styles.css.map */
