.course-content  .editing-mode-menu li.section{list-style: none; margin-bottom: 1rem;}
.course-content  .editing-mode-menu li.section[data-section-level="2"]{padding-left: 3.3rem;}
.course-content  .editing-mode-menu li.section[data-section-level="3"]{padding-left: 6.3rem;}

.recitformatmenu .accordion-toggle::before {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 640 640'><path d='M297.4 470.6C309.9 483.1 330.2 483.1 342.7 470.6L534.7 278.6C547.2 266.1 547.2 245.8 534.7 233.3C522.2 220.8 501.9 220.8 489.4 233.3L320 402.7L150.6 233.4C138.1 220.9 117.8 220.9 105.3 233.4C92.8 245.9 92.8 266.2 105.3 278.7L297.3 470.7z'/></svg>");
}
.recitformatmenu .accordion-toggle.collapsed::before {
    transform: rotate(-90deg);
}

/* width */
.reciteditingmenu ::-webkit-scrollbar { width: 4px; height: 4px;}
        
/* Track */
.reciteditingmenu ::-webkit-scrollbar-track { background: #f1f1f1; }

/* Handle */
.reciteditingmenu ::-webkit-scrollbar-thumb {background: #888;}

/* Handle on hover */
.reciteditingmenu ::-webkit-scrollbar-thumb:hover {background: #555;}
.reciteditingmenu .nav-inner {
    position: relative;
    overflow-y: auto;
}

@media screen and (min-width: 1200px){        
        .reciteditingmenu .nav {
            flex-flow: column;
        }
}

.activityiconcontainer.small2 {
    width: 30px;
    height: 30px;
}