//$primary:#0069bf;
$menu-item-height:30px;

.treetopics{
    display: grid; margin: -1rem; // the tree topics navbar has no padding

    .menuM1{
        position: relative;        

        .menuM1-level{
            width: 100%; list-style: none; margin: auto; display: flex; flex-direction: row; justify-content: center; padding: 0;

            .menuM1-item{
                padding: .3rem; margin: .1rem;  opacity: 0.5; flex-grow: 1;
                .menuM1-item-desc{padding: .3rem;    font-size: 16px;    color: #fff;    font-weight: 600;    width: 100%;    
                    white-space: nowrap;    -webkit-hyphens: none;    -ms-hyphens: none;    hyphens: none; display: inline-block; text-align: center; white-space: normal;
                   
                }
            }
            .menuM1-item[data-selected="1"]{
                opacity: 1;
                .arrow{display: block;}
            }       
        }

        .arrow{
            border-top: 10px solid #FFF; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; margin: auto; display: none; margin-bottom: .3rem;
        }

        .menuM1-level1{
            @extend .menuM1-level;
        }
        
        .menuM1-level2{
            @extend .menuM1-level; justify-content: left; display: none; 
            .menuM1-item{
                .menuM1-item-desc{font-weight: 400; }
            }
        }

        .menuM1-level2[data-selected="1"]{
            display: flex;
        }
    }

    #tt-recit-nav{
        //background-color: $primary;
        
        
        .nav-item.dropdown{padding-right: 1rem;}

        .dropdown-submenu {
            position: relative;
        }
          
        .dropdown-submenu>.dropdown-menu {
            top: 0;
            left: 100%;
        }
    
        ul.navbar-nav{
            li.nav-item{
                text-align: left;
                .nav-link{color: #FFF;}
                .nav-link:hover{color: rgba(255,255,255,.5);}
            }
            ul.dropdown-menu{
                //background-color: $primary;
                margin: 0;
                border-radius: 0px;
                border: none;
               // box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    
                li{
                    .dropdown-item{
                        color: #fff;
                        height: $menu-item-height;
                    }
                    .dropdown-item:hover{
                        color: rgba(255,255,255,.5);
                        background-color: transparent;
                    }
                }
    
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 1.5rem;
                    }
                }
            }
            
            .dropdown-submenu .pull-left{
                float:none;
            }
            
            .dropdown-submenu.pull-left > .dropdown-menu{
                left:-100%;
                margin-left:10px;
                -webkit-border-radius:6px 0 15px 15px;
                -moz-border-radius:6px 0 15px 15px;
                border-radius:6px 0 15px 15px;
            }
        }
    }

    .tt-section{
        padding: 1rem;
    }

    .tt-imagebuttons{
        margin: 1rem;
        .tt-grid-element{
            cursor: pointer; filter: grayscale(100%);
            .tt-section-title{ margin: 1rem; font-size: 1.2em;}
        }
        .tt-grid-element:hover{ cursor: pointer; filter: grayscale(0%);}        
    }

	@media only screen and (max-width: 600px) {
        .grid1, .grid2, .grid3, .grid4, .grid5, .grid6 {
		    display: grid;
		    grid-template-columns: 100%;
		    .tt-section-image{width: 540px;height: 300px;/*float: left;*/}
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px) {
		.grid1, .grid2, .grid3, .grid4, .grid5, .grid6 { display: grid; grid-template-columns: 100%;
        .tt-section-image{width: 540px;height: 300px;/*float: left;*/}
        }
    }
	
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .grid1{display: grid;grid-template-columns: 100%;
            .tt-section-image{width: 768px; height: 423px;/*float: left;*/}
        }
        .grid2, .grid3, .grid4, .grid5, .grid6 {display: grid; grid-template-columns: 50% 50%;
            .tt-section-image{ width: 384px; height: 212px; /*float: left;*/}
        }
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .grid1{ display: grid; grid-template-columns: 100%;
            .tt-section-image{ width: 992px; height: 552px; /*float: left;*/}
        }
        .grid2{display: grid; grid-template-columns: 50% 50%;
            .tt-section-image{ width: 496px; height: 276px; /*float: left;*/}
        }
        .grid3{display: grid; grid-template-columns: 33% 33% 34%;
            .tt-section-image{ width: 331px; height: 184px; /*float: left;*/}
        }
        .grid4, .grid5, .grid6{ display: grid; grid-template-columns: 25% 25% 25% 25%;
            .tt-section-image{ width: 248px; height: 138px; /*float: left;*/}
        }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .grid1{display: grid; grid-template-columns: 100%;
            .tt-section-image{ width: 1200px; height: 670px; /*float: left;*/}
        }
        .grid2{display: grid; grid-template-columns: 50% 50%;
            .tt-section-image{width: 600px; height: 335px; /*float: left;*/}
        }
        .grid3{display: grid; grid-template-columns: 33% 33% 34%;
            .tt-section-image{width: 400px; height: 224px;/*float: left;*/}
        }
        .grid4 { display: grid; grid-template-columns: 25% 25% 25% 25%;
            .tt-section-image{width: 300px; height: 167px;/*float: left;*/}
        }
        .grid5 {display: grid;grid-template-columns: 20% 20% 20% 20% 20%;
            .tt-section-image{width: 240px;height: 134px;/*float: left;*/}
        }
        .grid6 {display: grid; grid-template-columns: 16% 16% 16% 16% 16% 17%;
            .tt-section-image{width: 200px;height: 112px;/*float: left;*/}
        }
    }

    .menu-map{
        .root{font-size: 20px; line-height: 3rem; padding-left: 4rem;}
        .activity-list{line-height: 20px; font-size: 16px;}
    }
}

.treetopics.horizontal{
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    #tt-recit-nav{
        ul.navbar-nav{
            li.nav-item{text-align: center;}

            ul.dropdown-menu{
                box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

.treetopics.vertical{
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;

    .navbar{align-items: baseline; align-content: baseline;}

    @media (min-width: 992px){
        .navbar-expand-lg{
            .navbar-nav{
                flex-direction: column;
                .dropdown-menu{position: relative;}
            }
        }  
    }
        
    #tt-recit-nav{
        //min-width: 10vw;
        .dropdown-submenu>.dropdown-menu{left: 0; top: 100%;}

        ul.navbar-nav{
            ul.dropdown-menu{
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

.course-content{
    li.section{list-style: none; margin-bottom: 1rem;}
    li.section[data-section-level="2"]{padding-left: 3.3rem;}
    li.section[data-section-level="3"]{padding-left: 6.3rem;}
}

.tt-contract{
    width: 80%; margin: auto;
    
    .tt-contract-content{
        white-space: pre-wrap;
        text-align: justify;
        border: solid;
        padding: 16px;
        border: 1px solid #efefef;
    }
}



@media  screen and (max-width: 992px){
    .treetopics.vertical{
        grid-template-columns: none;
        grid-template-rows: none;
        display: block;

        #tt-recit-nav{
            position: absolute; top: 0; right: 0; width: 100%; justify-content: flex-end; z-index: 100;
        }
    }

    #tt-recit-nav{
        ul.navbar-nav{
            li.nav-item{text-align: left !important;}
            ul.dropdown-menu{
                box-shadow: none !important;
                li.dropdown-submenu{
                    ul.dropdown-menu{
                        margin-left: 1rem!important;
                    }
                }
            }
        }
    }
}