.inline-form-editing-mode{margin-right:1rem; margin-left: 1rem; display: grid;}

.course-content  .editing-mode-menu li.section{list-style: none; margin-bottom: 1rem;}
.course-content  .editing-mode-menu li.section[data-section-level="2"]{padding-left: 3.3rem;}
.course-content  .editing-mode-menu li.section[data-section-level="3"]{padding-left: 6.3rem;}

h3.sectionname .inplaceeditable.inplaceeditingon .editinstructions{    margin-top:-47px;}

.tt-contract{    width: 80%; margin: auto;}